.root {

    /* A light grey that is the base color for objects.  Instead of using
     * -fx-base directly, the sections in this file will typically use -fx-color.
     */
    -fx-base: #ffffff;
    -fx-background: #333333;
    -fx-text-background-color: transparent;

    -fx-text-fill: #ffffff;
    -fx-control-inner-background: transparent;
    -fx-dark-text-color: orangered;
    -fx-mid-text-color: #ffffff;
    -fx-light-text-color: #ffffff;

    -fx-accent: #993366;
    -fx-focus-color: #0093ff;
    -fx-color: #CCCCCC;
}


.text-area, .text-field{

    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #999999;
    -fx-font-family: "HP Simplified Bold";
    -fx-font-size: 16pt;
}
/*
label
 */
.label {
    -fx-font-size: 10pt;
    -fx-font-family: "HP Simplified Bold";
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: #ffffff;
    -fx-opacity: 1;
}
.large-Label{
    -fx-font-size: 35pt;
    -fx-font-family: "HP Simplified Bold";
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-text-fill: #ffffff;
    -fx-opacity: 1;
}
/*
LineChart related
 */

.chart {
    -fx-padding: 10px;
}

.chart-content {
    -fx-padding: 10px;
}

.chart-title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.6em;
}

.axis-label {
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;

}
.axis
{
    -fx-tick-label-fill: #ffffff;
    -fx-stroke: transparent;
    -fx-font-family: "HP Simplified Bold";
    -fx-font-size: 13pt;

}

.chart-plot-background {
    -fx-background-color: #e2ecfe;
}
.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 10px;
}

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #ffffff;
}

.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.axis-tick-mark {
    -fx-stroke: #ffffff;
    -fx-stroke-width: 2;
}
.axis-minor-tick-mark {
    -fx-stroke: #ffffff;
}


.default-color0.chart-series-line { -fx-stroke: #FF6600; }
.default-color1.chart-series-line { -fx-stroke: #a9e200; }
.default-color2.chart-series-line { -fx-stroke: #0000FF; }
.default-color3.chart-series-line { -fx-stroke: #FFFFFF; }
.default-color0.chart-line-symbol { -fx-background-color: #FF6600, #333333; }
.default-color1.chart-line-symbol { -fx-background-color: #a9e200, #333333; }
.default-color2.chart-line-symbol { -fx-background-color: #0000FF, #333333; }
.default-color2.chart-line-symbol { -fx-background-color: #FFFFFF, #333333; }