.root {

    /* A light grey that is the base color for objects.  Instead of using
     * -fx-base directly, the sections in this file will typically use -fx-color.
     */
    -fx-base: black;
    -fx-background: #333333;
    -fx-text-background-color: transparent;

    -fx-text-fill: #ffffff;
    -fx-control-inner-background: transparent;
    -fx-dark-text-color: #993366;
    -fx-mid-text-color: #ffffff;
    -fx-light-text-color: #ffffff;

    -fx-accent: #993366;
    -fx-focus-color: #0093ff;
    -fx-color: #666666;
}


.text-area, .text-field{

    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #999999;
    -fx-font-family: "HP Simplified Bold";
    -fx-font-size: 16pt;
}
.large-text-field{
    -fx-alignment: center;
    -fx-background-color: transparent;
    -fx-prompt-text-fill: #999999;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "HP Simplified Bold";
    -fx-font-size: 60pt;
    -fx-font-weight: bolder;
}
.button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-text-fill: #333333;
    -fx-font-style: italic;
    -fx-font-weight: bolder;
    -fx-cursor: hand;
    -fx-font-family: "HP Simplified Bold";
    -fx-font-size: 20pt;
    -fx-alignment: center;
}
.menuButton{
    -fx-background-color: transparent;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-family: "HP Simplified Bold";
    -fx-text-fill: #ffffff;
    -fx-font-size: 10pt;
    -fx-alignment: center;
    -fx-min-height: 0;
    -fx-min-width: 0;
    -fx-border-width: 0;
    -fx-cell-size: 1;
}

.topBar{
    -fx-background-color:  #424242;
    -fx-border-width: 1px;
    -fx-border-color: black;
}
.topBarButton{
    -fx-font-size: 12pt;
    -fx-font-family: "HP Simplified Bold";
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-text-fill: #ffffff;
    -fx-opacity: 1;
}

.IndicatorDeviceIsDisconnected{
    -fx-background-color: #000000;
    -fx-border-radius: 13px;
    -fx-background-radius: 13px;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-animated: true;
    -fx-alignment: center;
    -fx-min-width: 96;
    -fx-min-height: 72;
}

.IndicatorDeviceIsOff{
    -fx-background-color: #ffffff;
    -fx-border-radius: 13px;
    -fx-background-radius: 13px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-animated: true;
    -fx-alignment: center;
    -fx-min-width: 96;
    -fx-min-height: 72;
}

.IndicatorDeviceIsOn{
    -fx-background-color: #99FF33;
    -fx-border-radius: 13px;
    -fx-background-radius: 13px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-animated: true;
    -fx-alignment: center;
    -fx-min-width: 96;
    -fx-min-height: 72;
}

.IndicatorDeviceError{
    -fx-background-color: #FF0000;
    -fx-border-radius: 13px;
    -fx-background-radius: 13px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-animated: true;
    -fx-alignment: center;
    -fx-min-width: 96;
    -fx-min-height: 72;
}

.IndicatorDeviceIsDisconnected:pressed, .button:pressed, .IndicatorDeviceIsOff:pressed, .IndicatorDeviceIsOn:pressed{
    -fx-background-color: #993399;
}

.IndicatorDeviceError:hover, .button:hover {
    -fx-background-color: #666666;
}
/*
label
 */
.label {
    -fx-font-size: 12pt;
    -fx-font-family: "HP Simplified Bold";
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-text-fill: #666666;
    -fx-opacity: 1;
}
.large-Label{
    -fx-font-size: 35pt;
    -fx-font-family: "HP Simplified Bold";
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-text-fill: #ffffff;
    -fx-opacity: 1;
}
/*
LineChart related
 */

.chart {
    -fx-padding: 10px;
}

.chart-content {
    -fx-padding: 10px;
}

.chart-title {
    -fx-text-fill: #ffffff;
    -fx-font-size: 1.6em;
}

.axis-label {
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;

}
.axis
{
    -fx-tick-label-fill: #999999;
    -fx-stroke: transparent;
    -fx-font-family: "HP Simplified Bold";
    -fx-font-size: 25pt;
    -fx-font-weight: bolder;

}

.chart-plot-background {
    -fx-background-color: #e2ecfe;
}
.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 10px;
}

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #ffffff;
}

.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.axis-tick-mark {
    -fx-stroke: #ffffff;
    -fx-stroke-width: 2;
}
.axis-minor-tick-mark {
    -fx-stroke: #ffffff;
}
.chart-vertical-zero-line{
    -fx-stroke: #ffffff;
    -fx-stroke-width: 5px;
}
.chart-horizontal-zero-line{
    -fx-stroke: #ffffff;
    -fx-stroke-width: 5px;
}

.default-color0.chart-series-line { -fx-stroke: #ffffff; }
.default-color1.chart-series-line { -fx-stroke: #FF6600; }
.default-color2.chart-series-line { -fx-stroke: #0000FF; }
.default-color3.chart-series-line { -fx-stroke: #00FF00; }
.default-color0.chart-line-symbol { -fx-background-color: #ffffff, #333333; }
.default-color1.chart-line-symbol { -fx-background-color: #FF6600, #333333; }
.default-color2.chart-line-symbol { -fx-background-color: #0000FF, #333333; }
.default-color2.chart-line-symbol { -fx-background-color: #00FF00, #333333; }